# Весо-ростовой коэффициент

[Индекс массы тела](https://ru.wikipedia.org/wiki/Индекс_массы_тела) (англ. body mass index (BMI))

$$ BMI = \frac{m}{h^2}$$
где:
    m — масса тела в килограммах
    h — рост в метрах,
и измеряется в кг/м².

- BMI, равный 17-21, соответствует наименьшей предрасположенности к сердечно-сосудистым заболеваниям;

- BMI, превышающий 23, является показателем повышенного риска сердечно-сосудистых заболеваний.

In [17]:
from __future__ import unicode_literals, division, generators

In [18]:
height = 1.69
massa = 69
bmi = massa / height ** 2
bmi

24.158817968558527

In [149]:
import pandas as pd
pd.set_option('max_rows',999)
import seaborn
D = pd.read_csv('Davis.csv', index_col=0)
D

D.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 1 to 200
Data columns (total 5 columns):
sex       200 non-null object
weight    200 non-null int64
height    200 non-null int64
repwt     183 non-null float64
repht     183 non-null float64
dtypes: float64(2), int64(2), object(1)
memory usage: 8.6+ KB

In [150]:
i = 197

r=D.ix[i]
print(u'{weight} кг,  height={height} см'.format(**r))

83 кг,  height=180 см

In [151]:
D.describe()

           weight      height       repwt       repht
count  200.000000  200.000000  183.000000  183.000000
mean    65.255000  170.565000   65.622951  168.497268
std     13.322817    8.932228   13.776669    9.467048
min     39.000000  148.000000   41.000000  148.000000
25%     55.000000  164.000000   55.000000  160.500000
50%     63.000000  169.500000   63.000000  168.000000
75%     73.250000  177.250000   73.500000  175.000000
max    119.000000  197.000000  124.000000  200.000000

У кого из этих учащихся самых большой BMI?

In [2]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [4]:
#http://stackoverflow.com/questions/16003217/n-d-version-of-itertools-combinations-in-numpy
from itertools import combinations, chain, permutations
from scipy.misc import comb


count = comb(200, 5)
count

2535650040.0

In [180]:
random.seed()
random.seed(777)

In [181]:
n=9
ii=empty((0,n), dtype=int)
for i in range(4):
    ii1=random.choice(200, (10,n), False)
    ii=vstack((ii,ii1))
ii

array([[187, 170,  12,  76,  26,  48, 113,  94, 178],
       [ 89, 101, 125, 192,   6, 152, 133, 132, 144],
       [162,  77, 198,  25, 106, 175, 147,  13, 191],
       [158, 118,  45,  33, 111, 114, 126, 143, 163],
       [171, 148,  18,  27, 149,  97, 140,  61,  35],
       [ 57, 155,  22, 197,  21,  98,  40,   5,   2],
       [ 52, 139,  64,  90, 159,  10, 189,  19,   1],
       [182, 173, 121, 164,  29,  75,  73, 196,  43],
       [ 93,  42,  11, 151,  79, 145, 165,  81, 110],
       [161,  96,  55, 194, 112, 134, 129,  49, 102],
       [187, 144, 162, 136,  25,  21, 138,  95, 192],
       [ 54, 145,  75, 127,  23,  48, 154, 194, 117],
       [ 12,  59, 134,  91, 118,  86, 193, 189, 159],
       [ 11, 153,  90,   6, 103, 116,  77, 165, 107],
       [101, 178,   0,  27,  52,  72,  50, 168, 124],
       [161,  36, 150, 146, 105, 110, 169,   7, 128],
       [  5,  35, 108,  97,  60, 196, 133,  34,  49],
       [ 89,  45,  61,  17,  18, 167,  57, 142,  64],
       [ 51,  37, 181, 122, 109,  24,  40, 185, 139],
       [  8,  47,  38,  32, 170, 184, 111, 186,  43],
       [170,  50, 130,   0,  13, 145, 114,  88,  64],
       [107,  86, 148,  98,   6, 176, 184, 140, 128],
       [171, 199,   9, 188,   4,   3, 101, 172,  58],
       [ 35,  97,  23,  89,  19, 146,  71, 161, 156],
       [ 56, 158, 105,  11,  40,  54,  44,  22,  78],
       [177,  92,  46, 116,  21,  80,   2,  41,   7],
       [  8, 102,  83,  36, 157, 111,  70,  17,  81],
       [174, 150,  90,  69, 182,  74, 115, 104,  96],
       [134,  25, 198,  53, 103,  91,  24,  73,  47],
       [164, 135,  33,  34, 149,  82, 190,  16,  84],
       [  8,  41, 153,  73, 124, 166, 184,  43, 140],
       [114,  64, 100, 164, 158,  33,  27,  51,  55],
       [127,  82,  79,   0, 112,  67,  24,  39,  11],
       [143,  58, 177, 174,  70, 125,  28, 136, 149],
       [178, 131,  65,  66, 152, 135,  75, 122, 155],
       [179, 116, 170, 106,  25, 186, 123, 197,  36],
       [141, 168,  16,  32,  83,  69, 110,  13, 193],
       [126,  68, 105, 167,  44, 194,  46, 165, 113],
       [ 42,  93, 150,  18,  57, 157, 189,  84, 151],
       [161,  38,   9,  99,  77,  76,   6, 196,  74]])

In [201]:
ii.shape

(40, 9)

In [183]:
i=10
X=D.iloc[ii[i,:],0:3]
X

    sex  weight  height
188   F      58     169
145   F      64     171
163   F      53     162
137   F      64     172
26    F      50     166
22    F      61     170
139   M      90     188
96    F      56     165
193   F      59     164

In [141]:
X['BMI'] = X.weight/(X.height/100)**2
X=X.sort_values('BMI')
X=X.assign(ih= X.height.rank(), iw= X.weight.rank())
X

    sex  weight  height        BMI   ih   iw
34    F      52     164  19.333730  1.5  1.0
37    F      56     166  20.322253  3.0  2.0
125   M      67     179  20.910708  6.0  5.0
23    M      65     175  21.224490  5.0  4.0
58    M      73     183  21.798202  7.5  7.0
195   F      62     164  23.051755  1.5  3.0
44    M      78     183  23.291230  7.5  8.0
91    M      70     173  23.388687  4.0  6.0
95    M      88     189  24.635369  9.0  9.0

In [188]:
def _desc(r, n=9):
    _s,_ij,_yj,_j=('девушка','aя','aя','я') if r.sex=='F' else ('юноша','ий','ый','й')
    _X= X[X.sex==r.sex]
    _n=_X.shape[0]
    ih= _X.height.rank()
    iw= _X.weight.rank()
    _r = ((ih[r.name]==1) and ('сам{} маленьк{} по росту'.format(_yj,_ij)) or 
          (iw[r.name]==1) and ('сам{} легк{} по весу'.format(_yj,_ij)) or
          (ih[r.name]==_n) and ('сам{} высок{} по росту'.format(_yj,_ij)) or 
          (iw[r.name]==_n) and ('сам{} увесист{}'.format(_yj,_yj)) or 
          (not ih[r.name]%1.0) and ('{:.0f}-{} по росту'.format(_n+1-ih[r.name],_j)) or
          (not iw[r.name]%1.0) and ('{:.0f}-{} по весу'.format(_n+1-iw[r.name],_j)) or
          'как{0}-то друг{0}'.format(_yj.replace('ы','o'))
         )
#     print(r.name),
#     print(_X)
    return _r and '{} {}'.format(_r, _s)

print(_desc(X.iloc[8]))

самый увесистый юноша

In [132]:
X.iloc[ii]

    sex  weight  height        BMI   ih   iw
103   F      47     163  17.689789  3.0  1.5
87    M      62     178  19.568236  8.0  5.5
59    M      75     172  25.351541  4.5  9.0
127   F      47     153  20.077748  1.0  1.5

In [207]:
X

    sex  weight  height        BMI
75    F      50     166  18.144869
77    F      50     160  19.531250
162   F      54     161  20.832530
10    M      65     171  22.229062
100   F      55     155  22.892820
78    F      63     160  24.609375
197   M      83     180  25.617284
7     M      76     167  27.250887
39    M      88     178  27.774271

In [208]:
def _q(X, title='Q', i=1):
    
    ii=random.choice(arange(1,X.shape[0]),3, replace=False)
    ii=hstack([0,ii])
    _a=X.iloc[ii].apply(_desc, axis=1).tolist()

    table1 = X.iloc[random.permutation(X.shape[0],)].rename(columns={"weight": "m, kg", "height": "h, cm"}).to_html(index=False,escape=False, columns=["sex","m, kg", "h, cm"])
    # print(table1)

    s='''::{}{}:: Посчитайте у кого в подгруппе студентов самый маленький BMI?
<br>
{}
{{
={}#Правильно!
~{}#Не угадали.
~{}#Не у этого.
~{}#Есть постройнее.
}}    '''.format(title, i, table1,_a[0],_a[1],_a[2],_a[3])
    return(s)
print(_q(X))

::Q1:: Посчитайте у кого в подгруппе студентов самый маленький BMI?
<br>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>sex</th>
      <th>m, kg</th>
      <th>h, cm</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>M</td>
      <td>88</td>
      <td>178</td>
    </tr>
    <tr>
      <td>F</td>
      <td>54</td>
      <td>161</td>
    </tr>
    <tr>
      <td>F</td>
      <td>63</td>
      <td>160</td>
    </tr>
    <tr>
      <td>F</td>
      <td>50</td>
      <td>166</td>
    </tr>
    <tr>
      <td>M</td>
      <td>76</td>
      <td>167</td>
    </tr>
    <tr>
      <td>M</td>
      <td>83</td>
      <td>180</td>
    </tr>
    <tr>
      <td>F</td>
      <td>55</td>
      <td>155</td>
    </tr>
    <tr>
      <td>M</td>
      <td>65</td>
      <td>171</td>
    </tr>
    <tr>
      <td>F</td>
      <td>50</td>
      <td>160</td>
    </tr>
  </tbody>
</table>
{
=самaя высокaя по росту девушка#Правильно!
~самый маленький по росту юноша#Не угадали.
~самaя увесистaя девушка#Не у этого.
~самый легкий по весу юноша#Есть постройнее.
}

In [209]:
#production
s='//As_calc_bmi'
s+='''\n\n$CATEGORY: calc_bmi\n\n'''
for i in arange(ii.shape[0]):
    X=D.iloc[ii[i,:],0:3]
    X['BMI'] = X.weight/(X.height/100)**2
    X=X.sort_values('BMI')
    s+=(_q(X, 'BMI', i+1))+'\n\n'
    
len(s)

43883

In [210]:
with open('bmi.gift.txt','wt') as f:
    f.write(s)