## Объединение наборов данных

In [1]:
%pylab inline
import pandas as pd
import seaborn as sns

Populating the interactive namespace from numpy and matplotlib

В ситуации, когда для анализа необходимо объединить два набора данных, необходимо ввести метку для каждого из них, и после этого присоединить один к другому.

Загрузим данные двух тестов, проведенных одним испытуемым в один день.

In [2]:
#загрузка данных
u='http://balatte.stireac.com/result.tsv/23avg1961%40mail.ru/up15__0139066170151208'
D = pd.read_table(u)
D.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 2 columns):
t    48 non-null float64
v    48 non-null float64
dtypes: float64(2)
memory usage: 804.0 bytes

Этот тест отмечен меткой "правая", что видимо означает выполнение реакции правой рукой.

In [3]:
#загрузка данных
u='http://balatte.stireac.com/result.tsv/23avg1961%40mail.ru/up15__0144028380151208'
D2 = pd.read_table(u)
D2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 2 columns):
t    48 non-null float64
v    48 non-null float64
dtypes: float64(2)
memory usage: 804.0 bytes

Этот тест отмечен меткой "левая", что видимо означает выполнение реакции левой рукой.

После того, как мы провели разметку и очистку данных в соответствии с нашими знаниями о порядке МСИ и о модальности стимулов, мы имеем две переменных одинаковым количеством столбцов.

Чтобы не перепутать, где какие данные, перед слиянием в каждую табличку добавим колонку с обозначением условия.

In [4]:
# заполним всю колонку этим значением
D['cond'] = 'right'
D.head()

        t      v   cond
0   9.589  0.321  right
1  16.638  0.304  right
2  24.352  0.307  right
3  31.384  0.293  right
4  37.809  0.254  right

In [5]:
D2['cond'] = 'left'
D2.head()

        t      v  cond
0   9.582  0.341  left
1  17.095  0.316  left
2  24.104  0.261  left
3  32.339  0.259  left
4  40.513  0.268  left

In [6]:
D=D.append(D2)
D.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 0 to 47
Data columns (total 3 columns):
t       96 non-null float64
v       96 non-null float64
cond    96 non-null object
dtypes: float64(2), object(1)
memory usage: 2.6+ KB

In [7]:
D.cond.value_counts()

left     48
right    48
Name: cond, dtype: int64

Итого в нашей таблице 96 записей, половина из которых для условия `left` (левая рука), а половина - для условия `right` (правая рука)