# Ранжирование данных о росте и весе студентов

Импортируем данные в таблице на странице в интернете.

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>sex</th>
      <th>weight</th>
      <th>height</th>
      <th>repwt</th>
      <th>repht</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>M</td>
      <td>77</td>
      <td>182</td>
      <td>77.0</td>
      <td>180.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>F</td>
      <td>58</td>
      <td>161</td>
      <td>51.0</td>
      <td>159.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>F</td>
      <td>53</td>
      <td>161</td>
      <td>54.0</td>
      <td>158.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>M</td>
      <td>68</td>
      <td>177</td>
      <td>70.0</td>
      <td>175.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>F</td>
      <td>59</td>
      <td>157</td>
      <td>59.0</td>
      <td>155.0</td>
    </tr>
  </tbody>
</table>

In [1]:
%pylab inline
import pandas as pd
from io import StringIO

Populating the interactive namespace from numpy and matplotlib

In [2]:
# Выделяем/копируем текст таблицы и превращаем его в буфер, из которого создаем DataFrame
D = pd.read_table(StringIO('''
sex	m, kg	h, cm
F	59	166
F	43	154
M	85	191
F	54	171
F	54	164
F	56	162
M	69	174
F	68	178
F	56	165

'''))
D

  sex  m, kg  h, cm
0   F     59    166
1   F     43    154
2   M     85    191
3   F     54    171
4   F     54    164
5   F     56    162
6   M     69    174
7   F     68    178
8   F     56    165

Две последние колонки - субъективные данные. Там встречаются пропуски - `NaN`.

Посмотрим описательную статистику по колонкам и распределение значений.

In [13]:
massa = D['m, kg']
rost = D['h, cm']
massa / (rost/100.) ** 2

0    21.410945
1    18.131219
2    23.299800
3    18.467221
4    20.077335
5    21.338211
6    22.790329
7    21.461937
8    20.569330
dtype: float64

Тот же эффект можно получить записью через точку, но только если в названии колонки нет пробелов и русских букв.

In [8]:
i_samyj_tyazh = D.bmi.argmax()
i_samyj_tyazh

2

In [14]:
i = D.bmi.argmin()
i

1

Для отбора по условию можно применять те же методы к подвыборке.

In [12]:
D[D.sex=='F']['h, cm'].rank()

0    5.0
1    1.0
3    6.0
4    3.0
5    2.0
7    7.0
8    4.0
Name: h, cm, dtype: float64